.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

#page-header{
 height: 200px;
 background: url(../img/image8.jpg);
 background-position: 0 -360px;
 background-attachment: fixed;
 color: #fff;
 border-bottom: 1px #eee solid;
 padding-top: 50px;
}

#page-header1{
 height: 200px;
 background: url(../img/image8.jpg);
 background-position: 0 -360px;
 background-attachment: fixed;
 color: #fff;
 border-bottom: 1px #eee solid;
 padding-top: 50px;
}
