.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.nav-item a {
  color: #fff;
  font-size: 1.2rem;
  margin-left: 15px;
}

.nav-item a:hover {
  text-decoration: none;
}

a.dropdown-item {
  color: #000;
  margin-left: 0px;
}

#page-header{
 height: 200px;
 background: url(../img/image8.jpg);
 background-position: 0 -360px;
 background-attachment: fixed;
 color: #fff;
 border-bottom: 1px #eee solid;
 padding-top: 50px;
}

#page-header1{
 height: 200px;
 background: url(../img/image8.jpg);
 background-position: 0 -360px;
 background-attachment: fixed;
 color: #fff;
 border-bottom: 1px #eee solid;
 padding-top: 50px;
}
